﻿
#divMWSActivity input[type=radio]
{
    display: none;
}



#divMWSActivity input[type=radio] + label
{
    display: inline-block;
    margin: -2px;
    padding: 20px 20px;
    margin-bottom: 0;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='red',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}

#divMWSActivity input[type=radio]:checked + label
{
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    background-color: #C5D082;
    color: white;
}

#divMWSActivity .ActivityFilterAll
{
    background-repeat: no-repeat;
    background-image: url(16/ActivityFilterAll.png);
    background-position: 4px 4px;
}

.ActivityFilterNote
{
    background-repeat: no-repeat;
    background-image: url(16/ActivityFilterNote.png);
    background-position: 4px 4px;
}

.ActivityFilterAct
{
    background-repeat: no-repeat;
    background-image: url(16/ActivityFilterAct.png);
    background-position: 4px 4px;
}

.ActivityFilterUserAct
{
    background-repeat: no-repeat;
    background-image: url(16/ActivityFilterUserAct.png);
    background-position: 4px 4px;
}

.ActivityFilterSysAct
{
      background-repeat: no-repeat;
    background-image: url(16/ActivityFilterSysAct.png);
    background-position: 4px 4px;
}

