/* CSS Document
*Written by Ariful Ahsan Omi
*Author Portfolio http://omi.technology
*/

body{
	font-family: 'Roboto', sans-serif;
	background: url(../img/Background.png) no-repeat fixed;
	
	padding-bottom: 70px;
	height:1500px;
	margin-left:0;
}
body.analyzed{
	background: #323232;
}
h1,h2, h3, h4, h5, h6{,
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
}

.topbar{
	background: #363636;
	padding: 20px 0;
    z-index: 10;
	text-align: center;
}
.topbar .container{
	position: relative;
}

a.home-button{
	position: absolute;
	top: 2px;
	left: 10px;
	display: block;
    font-size: 18px;
    padding: 5px 10px;	
	color: #fff;
}

.toggle-button-wrap,
.search-bar{
	float: left;
}
.toggle-button{
	margin: 5px 25px 0 0;
	background: none;
	border: none;
	color:  #7a7d85;
	padding: 4px;
	display: inline-block;
}
.nav-search-form{
	position: relative;
	
}
.nav-search-form .submit-button{
	position: absolute;
	left: 15px;
	top: 9px;
	border: none;
	background: none;
	color:  #7a7d85;
}

.nav-search-form .form-control{
	background: none;
	border: 1px solid #4b4c4e;
	padding-left: 45px;
	color:  #7a7d85;
	max-width: 150px;
	height: 38px;
	border-radius: 18px;
}


.logo-box {
	display: inline-block;
}
.main-logo{
	float: left;
	max-width: 150px;
	margin-top: 3px;
}
.powered-by{
	float: left;
	max-width: 60px;
	margin-top: 3px;
}
.main-logo img,
.powered-by img{
	max-width: 100%;
	height: auto;
}
.main-logo{
	margin-left: 40px;
	margin-right: 15px;
}
.main-logo a{
	display: block;
}


.start-analyze,
.task-icon,
.notification-icon,
.user-profile{
	float: left;
}
.start-analyze{
	color: #7e818a;
	border-radius: 20px;
	border: 1px solid #7e818a;
	padding: 6px 15px;
	margin-top: 3px;
	margin-right: 8px;
	font-size: 12.7px;
}
.start-analyze i:first-of-type{
	margin-right: 6px;
}
.start-analyze i:nth-of-type(2){
	margin-left: 6px;
	position: relative;
	top: 1px;
}
.task-icon,
.notification-icon{
	position: relative;
	color: #ddd;
	font-size: 20px;
	margin-right: 5px;
}
.dropdown-button{
	border: none;
	background: none;
}
.user-notification .notification-number{
	position: absolute;
	top: -7px;
	right: -4px;
	background: #e74c3c;
	color: #fff;
	width: 22px;
	height: 22px;
	border-radius:50%;
	text-align: center;
	border: 3px solid #122a37;
	font-size: 12px;
	font-weight: bold;
}
.button-icon{
	font-size: 16px;
	padding: 8px;
}
.button-avatar{
	position: relative;
	max-width: 42px;
}
.button-avatar img{
	float: left;
}
.button-avatar i{
	position: absolute;
	right: -7px;
	top: 8px;
	color: #ddd;
}

.plus-add{
	display: inline-block;
	background: transparent;
	color: #EE7F23;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
	border:5px solid #EE7F23;
	font-size:80px;
}

.sid-box{
	position: relative;
	text-align: center;
	border: 1px dashed #798599;
	padding: 60px 20px;
	margin: 80px 0 30px;
	
}
.sid-box:hover{
	background: rgba(50,52,54,0.4);
}
.sid-box .plus-add-image	
{
    display: inline-block;
	width: 98px;
	height: 98px;	
}
.sid-box .plus-add{
	display: inline-block;
	background: transparent;
	color: #EE7F23;
	border-radius: 50%;
	width: 98px;
	height: 98px;
	text-align: center;
	border:10px solid #EE7F23;
	
}
.sid-box .plus-add .innerdiv{
	display: inline-block;
	background: black;
	color: #EE7F23;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	text-align: center;
}
.sid-box i{
	font-size: 130px;
	position: relative;
	top: -42px;		
}
.sid-box h3{
	/*color: #fd2a06;*/
	color: #EE7F23;
	font-size: 28px;
}
.sid-box p{
	color: #fff;
	font-size: 21px;
}
.sid-box input[type="file"]{
	cursor: pointer;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
    opacity: 0;
}


.upload-history{
	text-align: center;
}
.upload-history h3{
	color: #fff;
}

/**
*
*/
.analyzed-message{
	position: relative;
	top: 200px;
}
.analyzed-box{
	text-align: center;
	color: #fff;
}
.analyzed-box .a-success{
	
}
.analyzed-box .a-success p{
	font-size: 18px;
	line-height: 1.8;
}
.analyzed-box .a-success-buttons ul{
	display: inline-block;
}
.analyzed-box .a-success-buttons ul li{
	float: left;
	list-style: none;
	margin: 15px 0 10px;
}
.analyzed-box .a-success-buttons ul li:first-of-type{
	margin-right: 15px;
}
.analyzed-box .a-success-buttons ul li a{
	display: block;
}
.analyzed-box .a-success-buttons ul li a,
.submit-analyzing button{
	border: none;
	padding: 20px 0px;
	width: 260px;
	background: #EE7F23;
	color: #fff;
	font-size: 18px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.analyzed-box .a-success-buttons ul li a:hover,
.submit-analyzing button:hover{
	background: #c3681c;
	text-decoration: none;
}

.a-fail{
	
}

.upload-history{
	padding-top: 90px;
}

/*New Amendment css*/
.submit-analyzing{
	text-align: center;
}
.submit-analyzing button{
	border: none;
	padding: 20px 0px;
	width: 260px;
	background: #EE7F23;
	color: #fff;
	font-size: 18px;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.submit-analyzing button:hover{
	background: #c3681c;
}
/**
*contract-box
*/
.contract-all{
	margin-bottom: 0px;
	margin-left: -1%;
	margin-right: -1%;
}
.contract-box{
	position: relative;
	background: #363636;
	width: 48%;
	padding: 20px 0;
	margin: 25px 1%;
	float: left;
}
.more-button .button-more{
	position: absolute;
	color: #727588;
	width: 55px;
    height: 60px;
	top: 0px;
    right: 0;
	font-size: 28px;
	font-weight: bold;
}
.more-button .button-more:hover{
	background: #111;
	color: #eee;
}
.more-button.open .button-more{
	background: #fd2a06;
	color: #fff;	
}

.contract-box .conract-name{
	font-weight: bold;
	color: #fff;
	font-size: 19px;	
}
.utility-button{
	text-align: center;
}
.utility-button ul{
	padding: 0;
	display: inline-block;
	margin-top: 20px;
}
.utility-button ul li{
	float: left;
	margin-top: 7px;
}
.utility-button ul li:first-of-type{
	margin-right: 15px;
}
.utility-button ul li button{
	display: block;
	width: 58px;
	height: 58px;
	line-height: 29px;
	border-radius: 50%;
	text-align: center;
	border: none;
	-webkit-transition: all 0.34s;
	transition: all 0.34s;
}
.utility-button ul li button:focus{
	border: none;
	outline: none;
}
.utility-button ul li:first-of-type button{
	background: #fd2a06;	
}
.utility-button ul li:first-of-type button:hover{
	background: #BC1C01;	
}
.utility-button ul li:last-of-type button{
	background: #9a9fbf;	
}
.utility-button ul li:last-of-type button:hover{
	background: #5B628F;	
}

.contract-box .company-name{
	color: #d7d9e5;
}

/**
*Dropdown
*/
.dropdown-beautify{
	top: 56px;
	border-radius: 0 0 15px 15px;
	background: #363636;
	 color: #fff;
	padding: 10px 0;
}
.dropdown-beautify li.heading{
	line-height: 2.8em;
    font-size: 15px;
    font-weight: 600;
	color: #00bcd4;
    padding-left: 20px;
    font-weight: bold;
    border-bottom: 1px solid #00bcd4;
}
.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #fff;
    border-left: 3px solid transparent;
    white-space: nowrap;
}

/**
*Progress Bar CSS
*/
.easy-pie-chart, .easyPieChart {
    position: relative;
    text-align: center;
}
.percentage {
    font-size: 14px;
    display: inline-block;
    vertical-align: top;
}
.chart {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 50%;
}
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}
.percent {
  display: inline-block;
  line-height: 110px;
  z-index: 2;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}
#chart1,
#chart4{
	background: #a7a8b1;
}
#chart2,
#chart3,
#chart5{
	background: #7c8096;
}

.modal-body{
	background: #d5d5d5;
	border: 1px solid #eee;
	padding: 0;
}
.review-form{
}
.form-divider{
	width: 100%;
	height: 5px;
	background: #ddd;
}
.request-form-box{
	background: #fff;
	padding: 10px;
	margin: 15px;
	margin-bottom: 7px;
}
.form-control{
	height: 40px;
	border-radius: 0;
	background: #f9f9f9;
}
.review-form-submit{
	background: #fd2a06;
	padding: 12px 25px;
	border: 1px solid #ddd;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	border-radius: 4px;
	margin: 10px 0 25px 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.review-form-submit i{
	margin-right: 10px;
}
.review-form-submit:hover{
	background: #292929;
	color: #fff;
}
.request-form-box h3{
	margin-bottom: 30px;
	margin-left: 15px;
	font-size: 16px;
	font-weight: bold;
}
.control-label{
	margin-top: 8px;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.25px;
}
.modal-title{
	padding: 15px 15px;
	background: #fd2a06;
	color: #fff;
	margin-bottom: 20px;
}

.modal .close{
	position: absolute;
    top: 0px;
    right: 0px;
    line-height: 0;
    margin: 0;
    width: 64px;
    height: 64px;
    background: #838383;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
    box-shadow: 0 0 3px 2px rgba(3,3,3,0.1);
    font-size: 2.3em;
    color: #fff;
    opacity: 1;
    z-index: 5;
    padding-bottom: 4px;
    border: none;
}
.modal .close:hover{
	background: #333;
}

.view-full-upload-history{
	text-align: center;	
}
.view-full-upload-history a{
	display: inline-block;
	padding: 20px 30px;
	background: rgba(0,0,0,0.5);
	border: 1px solid #ddd;
	font-size: 16px;
	font-weight: bold;
	color: #ddd;
	margin: 20px auto 0;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.view-full-upload-history a:hover{
	text-decoration: none;
	background: #fd2a06;
	color: #fff;	
	border-color: #fd2a06;
}
	
.disabled,
button[disabled] {
  background-color: darkGray;color:Gray;
}
.disabled:hover,
button[disabled]:hover {
background-color: darkGray;color:Gray;
}

@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}

@media screen and (max-width: 420px){
	.contract-box{
		width: 90%;
		margin: 25px 5%;
	}
	.task-icon, .notification-icon{
		margin-right: 1px;
	}
	.button-icon {
		font-size: 13px;
		padding: 3px;
	}
}
@media screen and ( max-width: 767px) {
	.search-bar{
		position: absolute;
		top: 90px;
	}
	.start-analyze{
		display: none;
	}
	.user-notification {
		padding: 10px 0 !important;
	}
	.toggle-button{
		margin-top: 10px;
		margin-left:30px;
		font-size: 20px;
	}
}
@media screen and ( min-width: 768px){
	.modal-dialog{
		max-width: 700px;
	}
}
@media screen and (max-width: 991px){
	.user-notification{
		padding: 30px 0;
	}
	.main-logo{
		margin: 15px 0;
		max-width: 160px;
		float: left;
	}
	.powered-by{
		display: none;
	}
}
@media screen and (min-width: 421px) and (max-width: 991px){
	.contract-box{
		width: 48%;
		margin: 25px 1%;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px){
	    .main-logo{
		  position: absolute;
		  right: 50px;
		  top: -20px;
		  max-width: 300px;
		  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
 	.contract-box{
		width: 31.33%;
		margin: 25px 1%;
	}
}
@media screen and (min-width: 1200px){
 	.contract-box{
		width: 18%;
		margin: 25px 1%;
	}
	.topbar{
		position: fixed;
		width: 100%;
		z-index: 10;
	}
	.sid-box{
		margin: 140px 0 40px;
	}
	.modal-dialog{
		max-width: 950px;
	}
}
@media screen and (min-width: 1400px){
 	.container{
		width: 1390px;
	}
}

