﻿body {
}

.heading
{
    font-family:Arial Black;
    font-size :100%;
    font-style:normal;
    font-weight:bold;
}

.labelfont
{
    font-family:Arial;
    font-size :small;
    font-style:normal;
    font-weight:normal;
}