﻿/*============Start Top horizontal menu======================*/

.container {width: 99%; position: absolute; top:42px; bottom: 1px;  left:6px; font-size:11px;}

ul#topnav {
	margin: 0; padding: 0;
	float: left;
	width: 100%;
	list-style: none;
	position: relative;
	font-size: 1.2em;	
	
}

ul#topnav li {
	float: left;
	margin: 0; padding: 0;
	
	
}

ul#topnav li a {
	padding: 5px 15px;
	display: block;
	color: #3E5B76;
	text-decoration: none;
	vertical-align:bottom;
}


ul#topnav li:hover { background: #fff }


ul#topnav li span {
	float: left;
	padding: 2px 0;
	position: absolute;
	left: 0; top:27px;
	display: none;
	width: 75%;
	background: #fff;
	color: #fff;
	-moz-border-radius-bottomright: 5px;
	-khtml-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-khtml-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

ul#topnav li:hover span { display: block; }
ul#topnav li span a { color: #f8f8f8; display: inline; }
ul#topnav li span a:hover {text-decoration: underline;}

.selectedtab 
{
    background-color:White; color:Black;
}
/*============End Top horizontal menu======================*/

.form-control
{   
   /* display: block;
    width: 97%;
    height: 35px;
    line-height: normal;
    margin-bottom: 9px;
    padding: 3px 7px;
    font-size: 16px;
    border: 1px solid #C9D9E0;
    border-radius: 3px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;*/
    
}

.form-control-dropdown
{   
    /*display: block;
    width: 97%;
    height: 35px;
    line-height: normal;
    margin-bottom: 9px;
    padding: 3px 7px;
    font-size: 16px;
    border: 1px solid #C9D9E0;*/
}

.form-control:focus 
{
    border: 1px solid #2B85FA;   
    box-shadow:none;       
    
}