@charset "utf-8";
/* CSS Document */

*{padding:0px; margin:0px;}
.fl{float:left;}
.fr{float:right;}
.clb{clear:both;}


.top-5{ margin-top:5px;}
.top-10{ margin-top:10px;}
.top-15{ margin-top:2px;}
.top-20{ margin-top:20px;}
.top-25{ margin-top:25px;}

.left-5{ margin-left:5px;}
.left-10{ margin-left:10px;}
.left-15{ margin-left:15px;}

.page-container{width:1002px; height:auto; margin:0 auto; background:#FFF;}

.container-100-bg{width:100%; height:auto; background:#FFF;}
.container-100{width:100%; height:auto;}
.container-98{width:98%; height:auto;}
.container-48{width:48%; height:auto;}
.container-65{width:65%; height:auto;}
.container-75{width:75%; height:auto;}
.container-80{width:80%; height:auto;}
.container-30{width:30%; height:auto;}
.container-38{width:38%; height:auto;}

.top-border{width:100%; height:20px; background:#de6528; margin-left:0px;}
.header{width:100%; height:auto; border-bottom:1px solid #e2e2e2; padding-bottom:10px;background:#FFF;}
.logo{width:250px; height:auto; margin:0 10px;}
.header-right{width:35%; height:auto;}
.top-date{width:130px; height:auto; font-size:14px; color:#878787;}
.top-block{width:20px; height:auto; font-size:18px; color:#289aa1; font-weight:bold;}
.profile-pic{width:34px; height:auto;margin-right:5px;}
.btn-next-container{width:9px; height:28px;}
.btn-next-profile{ background:url(../images/btn-next.jpg) no-repeat; width:9px; height:28px; border:none; cursor:pointer;}
.user-name{width:120px; height:auto;font-size:14px; color:#878787; margin-left:10px;}

.left-pannel-container{width:108%; height:auto;}
.right-pannel-container{width:801px; height:auto; background:url(../images/right-pannel-bg.jpg) repeat-y; padding-left:1px;}



/*==================================*/

.btn-text{color:#FFF; font-size:12px; font-weight:bold; padding-top:8px; text-align:left;width:72%;word-break:break; line-height:19px;}
.btn-text-2{color:#FFF; font-size:13px; font-weight:bold;text-align:left; width:72%;word-break:break; line-height:19px;}

.btn-home{ background:#2d9da1; padding: 10px 35px 22px; text-align:center; border:none; cursor:pointer;}
.btn-home:hover{ background:#878786; padding:10px 35px  22px; text-align:center; border:none; cursor:pointer;}
.btn-search{ background:#0b355c; padding:10px 35px 22px; text-align:center; border:none; cursor:pointer;}
.btn-search:hover{ background:#878786; padding:10px 35px 22px; text-align:center; border:none; cursor:pointer;}

.icon-home{background:url(../images/icon-home.png) no-repeat; width:20px; height:20px; vertical-align:middle; padding:0px 10px 10px;}
.search-icon{background:url(../images/search-icon-2.png) no-repeat; width:20px; height:20px; vertical-align:middle; padding:0px 10px 10px;}

/*=================================================*/
.metro-btn2{width:100%; padding:5px 3px; border:none;cursor:pointer; margin-bottom:4px;}
.metro-btn2:hover{background:#878787;width:100%; padding:5px 3px; border:none;cursor:pointer; margin-bottom:4px;}
.metro-btn2-icon{width:40px; height:auto; margin-right:3px;}
.metro-btn2-icon-title{width:77%; height:auto;color:#FFF; margin-top:10px; text-align:left;font-size:12px;}
.metro-btn2-icon-title2{width:77%; height:auto;color:#FFF; margin-top:5px; text-align:left; font-size:12px;}


.metro-btn{width:30%; height:auto; margin:0 7px; padding:8px; text-align:center; border:none; cursor:pointer;}
.metro-btn:hover{ background:#878787;width:30%; height:auto; margin:0 7px; padding:8px; text-align:center; border:none; cursor:pointer;}
.metro-btn-title{width:98%; height:auto; margin:5px 0; padding:5px 5px 0px 5px; font-size:13px; text-align:left; color:#FFF;}
.metro-btn-icon{width:98%; height:auto; margin:0px 0;text-align:center;}

.metro-btn-bg-1{ background:#814997;}
.metro-btn-bg-2{ background:#153259;}
.metro-btn-bg-3{ background:#289aa1;}
.metro-btn-bg-4{ background:#3c8747;}
.metro-btn-bg-5{ background:#de6528;}
.metro-btn-bg-6{ background:#878786;}
.metro-btn-bg-7{ background:#F69342;}
/*===================*/

.purple a 
{
    background-color: #804996; color: #fff;
}
