﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CM.master" AutoEventWireup="true" CodeFile="activities.aspx.cs" Inherits="Workflow_activities" %>
<%@ Register Src="../UserControl/activities.ascx" TagName="activitiescontrol" TagPrefix="uc2" %>
<%@ Register Src="../UserControl/Requestdetaillinks.ascx" TagName="Masterlinks" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
 <script type="text/javascript">
     $("#requestLink").addClass("menulink");
     $("#requesttab").addClass("selectedtab");
 </script>
<%--  <div class="divMasterMsg">
</div>--%>
 <uc2:activitiescontrol ID="activitiescontrolid" runat="server" />
  <div id="rightlinks" style="display: none;">
        <uc1:Masterlinks ID="rightactions" runat="server" />
    </div>
   
    <script type ="text/javascript" language="javascript">
        $("#sidebar").html($("#rightlinks").html());
    </script>
</asp:Content>

