﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="ActivityReminder.aspx.cs" Inherits="ActivityReminder" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Activity Reminder</title>
    <script src="../scripts/ActivityJS/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../scripts/ActivityJS/jquery.event.ue.js" type="text/javascript"></script>
    <script src="../scripts/ActivityJS/jquery.udraggable.js" type="text/javascript"></script>
    <link href="../scripts/ActivityJS/examples.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    
    </form>
</body>
</html>
