﻿<%@ Page Title="" Language="C#" MasterPageFile="~/CM.master" AutoEventWireup="true" CodeFile="ReIndex.aspx.cs" Inherits="Workflow_ReIndex" %>

<%@ Register Src="../UserControl/Requestdetaillinks.ascx" TagName="Masterlinks" TagPrefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" Runat="Server">
 <script type="text/javascript">
     $("#requestLink").addClass("menulink");
     $("#requesttab").addClass("selectedtab");
 </script>
<%--  <div class="divMasterMsg">
</div>--%>
<asp:HiddenField ID="hdnRequestDate" runat="server" Value="" />
  <div id="rightlinks" style="display: none;">
        <uc1:Masterlinks ID="rightactions" runat="server" />  
    </div>
    <asp:Label ID="lblMessage" runat="server" Text=""></asp:Label>
    <br />
    <br />
    <asp:TextBox ID="txtDomainName" runat="server" ></asp:TextBox>    
    <asp:CheckBoxList ID="chkDomainName" runat="server">
    </asp:CheckBoxList>
    <br />
    <br />
    <asp:Button ID="btnCopyFiles" runat="server" Text="Copy Files" 
        onclick="btnCopyFiles_Click" /> 

   <asp:Button ID="btnIndexContractDocs" runat="server" Text="Index Files" 
        onclick="btnIndexContractDocs_Click" />
    <asp:HiddenField ID="hdnDomainName" runat="server" />

    <asp:Button ID="btnStopIndexing" runat="server" Text="Stop Indexing" 
        onclick="btnStopIndexing_Click"/>
    
   <asp:Button ID="btnCreateContractVersion" runat="server" Text="Contract Version" 
        onclick="btnCreateContractVersion_Click"   />
    <asp:Button ID="btnContractDocument" runat="server" Text="Contract Document" 
        onclick="btnContractDocument_Click"   />
   
    </asp:Content>

