﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Test1.aspx.cs" Inherits="WorkFlow_Test1" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>

    <link href="../JS/OrgChart/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="../JS/OrgChart/css/jquery.jOrgChart.css" rel="stylesheet" type="text/css" />
    <link href="../JS/OrgChart/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="../JS/OrgChart/css/prettify.css" rel="stylesheet" type="text/css" />

     <!-- jQuery includes -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    
    <script src="../JS/OrgChart/jquery.jOrgChart.js" type="text/javascript"></script>
    <script src="../JS/OrgChart/prettify.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#org").jOrgChart({
                chartElement: '#chart',
                dragAndDrop: false
            });
        });
    </script>
</head>
<body style="background-color: gray">
    <%--<form id="form1" runat="server">--%>
    <div>
    <ul id="org" style="display:none;">
    <!--<li>Paper <ul><li>Plastic</li> <li>Metal</li></ul></li>-->
    <li>
       Relations
       <ul>
         <li id="beer">Contract Id 100032</li>
         <li>Contract Id 100033
           <!--<a href="http://wesnolte.com" target="_blank">Click me</a>-->
           <p>description goes here. You can add upto hundred characters. go on adding .. little more..some more..</p>
           <ul>
             <li>Contract Id 100034</li>
             <li>
                <!--<a href="http://tquila.com" target="_blank">Contract Id 100050</a>-->
                Contract Id 100031
                <p>A link and paragraph is all we need.</p>
             </li>
           </ul>
         </li>
         <li class="fruit">Contract Id 100035
           <ul>
             <li>Contract Id 100036
               <ul>
                 <li>Contract Id 100038</li>
               </ul>
             </li>
             <li>Contract Id 100037
               <ul>
                 <li>Contract Id 100038</li>                 
                 <li>Contract Id 100039</li>
               </ul>
             </li>
           </ul>
         </li>
         <li>Contract Id 100040</li>
         <li class="collapsed">Contract Id 100041
           <ul>
             <li>Contract Id 100042</li>
             <li>Contract Id 100043</li>
           </ul>
         </li>
       </ul>
     </li>
   </ul>        
    </div>
    <div id="chart" class="orgChart"></div>
    <script type="text/javascript">
        jQuery(document).ready(function () {
            $("#org").jOrgChart({
                chartElement: '#chart',
                dragAndDrop: false
            });
        });
    </script>
    <%--</form>--%>
</body>
</html>
