/*!
 * elRTE WYSIWYG HTML-editor
 * Version 1.3 (2011-06-23)
 * http://elrte.org
 *
 * Copyright 2009-2011, Studio 42 Ltd.
 * Licensed under a 3 clauses BSD license
 */

@charset "UTF-8";
a { outline: none; }

/*************  clearfix  **********************/

.clearfix:after {
  content: ".";
  display: block;
  font-size:0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix { display: block; }

.rounded-2 { -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.rounded-3 { -moz-border-radius: 3px; -webkit-border-radius: 3px; border-radius: 3px; }
.rounded-4 { -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; }
.rounded-5 { -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.rounded-6 { -moz-border-radius: 6px; -webkit-border-radius: 5px; border-radius: 6px; }
.rounded-7 { -moz-border-radius: 7px; -webkit-border-radius: 7px; border-radius: 7px; }
.rounded-left-3 { -moz-border-radius-topleft: 3px; -webkit-border-top-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -webkit-border-bottom-left-radius: 3px; }
.rounded-bottom-7 { -moz-border-radius-bottomleft:7px; -moz-border-radius-bottomright:7px; -webkit-border-bottom-left-radius: 7px;-webkit-border-bottom-right-radius: 7px; border-bottom-left-radius: 7px; border-bottom-right-radius: 7px;}	


.ui-widget { font-size:.9em;}
.ui-dialog .ui-dialog-buttonpane button { padding: .1em .6em .2em .6em; }

/* colorpicker "button" */
.el-colorpicker {
	width  : 16px;
	height : 16px;
	border:1px solid #ccc;
	position:relative;
	cursor:default;
}

/* colors palette */
.el-palette {
	width: 182px;
	border:1px solid #ccc;
	background:#fff;
	padding:3px 2px 3px 3px;
	z-index:99000; /* fight with ui.dialog 0_o */
	position:absolute;
	top:16px;
	left:0;
}

/* color cell in palette */
.el-palette .color {
	float:left;
	width:14px;
	height:14px;
	line-height:1px;
	border-top: 1px solid #eee;
	border-left:1px solid #eee;
}

/* side below color cells */
.el-palette .panel {
	border-top:1px solid #ccc;
	margin-top:7px;
	padding:5px 3px 5px 3px;
}

/* "window" with selected color */
.el-palette .panel .preview {
	float:right;
	width:18px;
	height:18px;
	border:1px solid #ccc;
}

/* color value text field */
.el-palette .panel input {
	border:1px solid #ccc;
}
/* dialog container */
.ui-widget .el-dialogform {
	padding:5px 3px;

}

.ui-widget .el-dialogform-rtl {
	direction: rtl;
}

.ui-widget .el-dialogform-rtl .ui-tabs-nav li {
	float:right;
}

.el-dialogform div.tab:hover { background:transparent; }
.ui-dialog .ui-dialog-title, .ui-dialog .ui-dialog-content {
	font-size:.9em;
}

/* tabs nav */
.ui-tabs .ui-tabs-nav li a {
	padding:.2em .7em;
}

/* tab container */
.el-dialogform .tab {
	padding:5px 0 12px 0;
	border:none;
}
/* line separator */
.el-dialogform .separator {
	border-top:1px solid #ccc;
	margin: 5px 2px;
}

/* table in dialog or in tab */
.el-dialogform table {
	width:100%;
	border: none;
}

.el-dialogform  table td {
	padding: 2px;
}

.el-dialogform input, .el-dialogform textarea {
	border:1px solid #ccc;
}

.el-dialogform select {
	padding:0;
/*	font-size:11px;*/
}

.el-dialogform .spinner {
	background:url(../../elrteimages/loading.gif) 50% 50% no-repeat;
	text-align:center;
	width:150px;
	height:50px;
	margin:10px auto;
	padding-top:33px;
	font-weight:bold;
}
.el-dialogform-error {
	background: #fee; color:#ff0000; border: 2px #844 solid; padding: 10px; margin-bottom: 1em 0;
	
}
.el-dialogform-message {
	background: #efe; color: #040; border: 2px #484 solid; padding: 10px; margin-bottom: 1em 0;
}


.el-dialogform  table td .el-borderselect table {
	width:auto;
}

.el-dialogform  table td .el-borderselect table td {
	padding-left :0;
	padding-right:2px;
}
.el-paddinginput {
	display: block;
	white-space: nowrap;
}
.el-paddinginput input {
	margin :0 1px 0 0;
	border:1px solid #ccc;
}
.el-paddinginput select {
	padding:0;
}/* container for elselect */
.el-select {
	height:17px;
	width : 110px;
	border:1px solid #ccc;
	cursor: default;
	position:relative;
}
.el-select.hover {
	background-color:#eee;
}

/* selected element */
.el-select label {
	height:17px;
	line-height:17px;
/*	font-size:.92em;*/
	padding: 0 5px;
	margin: 0 12px 0 0;
	display:block;
	white-space:nowrap;
	overflow:hidden;
	background: #fff;
	border-right:1px solid #ccc;
}
/* drop-down list */
.el-select .list {
	border:1px solid #ccc;
	display:block;
	position:absolute;
	overflow:auto;
	background:#fff;
	z-index:1000;
/*	height:1610px*/
}
/* drop-down list item */
.el-select .list div {
	position:relative;
	padding:3px 25px 3px 7px;
	border-bottom:1px solid #eee;
}
/* drop-down list item hovered */
.el-select .list .hover {
	background:#efefef;
}
/* drop-down list item selected */
.el-select .list .active {
	background-color:#c3dbef;
}
/* any elements in drop-down list item */
.el-select .list div * {
	padding:0;
	margin:0;
	border:none;
	white-space:nowrap;
	display:block;
}
/*  контейнер */
.el-rte { 
	font-family: Trebuchet MS, Verdana, Geneva,sans-serif;
	overflow:hidden;
/*	border:1px solid #aaa;*/
}
.el-rte.el-fullscreen {
	position:absolute;
	width:99%;
/*	height:100%;*/
	top:0;
	left:0;
	margin:0;
	z-index:10;
}

.elrte-swf-placeholder {
	width:1px;
	background: url('../../elrteimages/swf.png') 0 0 no-repeat;	
}

/* style to detect images url */
/*.el-rte */
.elrtetesturl { color:red; background-image:url(../../elrteimages/pixel.gif);}

/* панель инструментов */
.el-rte .toolbar {  background-color:#eee; padding:3px 7px 2px 7px; border:1px solid #ccc; white-space:normal; }

.el-rte-rtl .toolbar { direction: rtl; }

/* панель кнопок */
.el-rte .toolbar ul {
	position:relative;
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin:0;
	list-style:none;
	padding:0 2px 0 5px;
	background: url('../../elrteimages/elrte-toolbar.png') -934px -2px no-repeat;	
}
/* первая панель кнопок */
.el-rte .toolbar ul.first {
	background:transparent;
	padding-left:0;
}
/* кнопка */
.el-rte .toolbar ul li {
	display:inline-block; 
	display: -moz-inline-stack;
    display: inline-block;
	height:22px; 
	width:22px;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin:1px 1px;
	padding:0; /* Joomla 1.6 compat */
	background:url('../../elrteimages/elrte-toolbar.png') no-repeat; 
	border:1px solid #ccc;	
	z-index:100;

}
/* активная и подсвеченная и неактивная кнопка */
.el-rte .toolbar ul li.hover    { border:1px solid #54b9bf; }
.el-rte .toolbar ul li.active   { background-color:#c3dbef; border:1px solid #fff; }
.el-rte .toolbar ul li.disabled { opacity:alpha(0.3); opacity: 0.3; filter:Alpha(Opacity=30);}
/*  кнопки  */
.el-rte .toolbar ul li.about               {background-position:-829px -5px;}
.el-rte .toolbar ul li.save                {background-position:-30px -2px;}
.el-rte .toolbar ul li.new                 {background-position:-55px -2px}
.el-rte .toolbar ul li.copy                {background-position:-78px -2px}
.el-rte .toolbar ul li.css                 {background-position:-801px -5px}
.el-rte .toolbar ul li.cut                 {background-position:-104px -2px}
.el-rte .toolbar ul li.paste               {background-position:-128px -2px}
.el-rte .toolbar ul li.pastetext           {background-position:-534px -2px}
.el-rte .toolbar ul li.pasteformattext     {background-position:-154px -2px}
.el-rte .toolbar ul li.removeformat        {background-position:-180px -2px}
.el-rte .toolbar ul li.docstructure        {background-position:-712px -4px}  
.el-rte .toolbar ul li.undo                {background-position:-205px -2px}
.el-rte .toolbar ul li.redo                {background-position:-230px -2px}
.el-rte .toolbar ul li.bold                {background-position:-252px -2px; }
.el-rte .toolbar ul li.italic              {background-position:-270px -2px;}
.el-rte .toolbar ul li.underline           {background-position:-290px -2px; }
.el-rte .toolbar ul li.strikethrough       {background-position:-149px -29px}
.el-rte .toolbar ul li.subscript           {background-position:-54px -29px}
.el-rte .toolbar ul li.superscript         {background-position:-76px -29px}
.el-rte .toolbar ul li.justifyleft         {background-position:-311px -2px}
.el-rte .toolbar ul li.justifycenter       {background-position:-335px -2px}
.el-rte .toolbar ul li.justifyright        {background-position:-360px -2px}
.el-rte .toolbar ul li.justifyfull         {background-position:-174px -29px}
.el-rte .toolbar ul li.insertunorderedlist {background-position:-100px -29px}
.el-rte .toolbar ul li.insertorderedlist   {background-position:-124px -29px}
.el-rte .toolbar ul li.outdent             {background-position:-6px   -29px}
.el-rte .toolbar ul li.indent              {background-position:-32px  -29px}
.el-rte .toolbar ul li.blockquote          {background-position:-220px -30px}
.el-rte .toolbar ul li.div                 {background-position:-655px -29px}
.el-rte .toolbar ul li.stopfloat           {background-position:-771px -5px}  
.el-rte .toolbar ul li.nbsp                {background-position:-580px -2px} 
.el-rte .toolbar ul li.forecolor           {background-position:-372px -30px}
.el-rte .toolbar ul li.hilitecolor         {background-position:-395px -30px}
.el-rte .toolbar ul li.link                {background-position:-244px -29px}
.el-rte .toolbar ul li.unlink              {background-position:-270px -29px}
.el-rte .toolbar ul li.anchor              {background-position:-296px -30px} 
.el-rte .toolbar ul li.image               {background-position:-384px -2px}
.el-rte .toolbar ul li.flash               {background-position:-410px -2px}
.el-rte .toolbar ul li.file                {background-position:-436px -3px}
.el-rte .toolbar ul li.table               {background-position:-421px -30px}
.el-rte .toolbar ul li.tableprops          {background-position:-602px -29px}
.el-rte .toolbar ul li.tbcellprops         {background-position:-806px -27px}
.el-rte .toolbar ul li.tablerm             {background-position:-461px -2px}
.el-rte .toolbar ul li.tbrowbefore         {background-position:-683px -4px}
.el-rte .toolbar ul li.tbrowafter          {background-position:-654px -4px}
.el-rte .toolbar ul li.tbrowrm             {background-position:-500px -30px}
.el-rte .toolbar ul li.tbcolbefore         {background-position:-741px -27px}
.el-rte .toolbar ul li.tbcolafter          {background-position:-772px -27px}
.el-rte .toolbar ul li.tbcolrm             {background-position:-526px -30px}
.el-rte .toolbar ul li.tbcellsmerge        {background-position:-552px -30px}
.el-rte .toolbar ul li.tbcellsplit         {background-position:-629px -29px}
/*.el-rte .toolbar ul li.smiley              {background-position:-322px -29px}*/
.el-rte .toolbar ul li.spec-text           {background-position:-487px -2px}
.el-rte .toolbar ul li.print               {background-position:-509px -2px}
.el-rte .toolbar ul li.horizontalrule      {background-position:-199px -29px}
.el-rte .toolbar ul li.fullscreen          {background-position:-348px -30px}  
.el-rte .toolbar ul li.elfinder            {background-position:-436px -2px}
.el-rte .toolbar ul li.ltr                 {background-position:-855px -27px}  
.el-rte .toolbar ul li.rtl                 {background-position:-855px -3px} 
.el-rte .toolbar ul li.pagebreak           {background-position:-711px -28px}  


/* рабочая зона (обертка над iframe) */
.el-rte .workzone { border:1px solid #eee; border-top:none; height:400px; overflow:hidden; }
.el-rte.small .workzone { min-height:250px; }

/* source code */
.el-rte textarea  { width:100%; height:100%; border:none; zoom:1; padding:0; outline:none; }
.el-rte.small textarea  { min-height:250px;}
/* редактор */
.el-rte iframe    { 
	width: 100%; 
	height:400px; 
	display:block;
	outline:none; 
	border:0 solid; 
	padding:0; 
	margin:0;
	background:#fff; 

}
.el-rte.small iframe  { min-height:250px;}

/* панель статуса (путь) */
.el-rte .statusbar {
	height: 21px;
	padding: 0 9px;
	font: 11px/21px 'monaco', 'andale mono', 'lucida console', monospace;
	background-color:#eee;
	border-top:1px solid #ccc;	
	border-top:none;
}

.el-rte-rtl .statusbar {
	direction:rtl;
/*	text-align:right;*/
}

/* табы */
.el-rte .tabsbar { display: block;  }
.el-rte .tabsbar .tab {
	float:left;  
	margin-right:2px; 
	padding: 6px 17px;
	font-size: .82em; 
	font-weight:bold;
	color:#777;
	text-align:center;  
	border:1px solid #eee;
	border-top:none;
	background: #fff;
	cursor: default;
}
.el-rte .tabsbar div.active { background: #eee; color:#444; }
.el-rte-rtl .tabsbar .tab  { float:right; }

/* выпадающие меню */
/* container for elselect */
.el-rte .toolbar ul li.el-select {
	height:22px;
	width : 120px;
	border:1px solid #ccc;
	font-size:.82em;
	cursor: default;
	background-position:-475px -30px;
}

.el-rte .toolbar ul li.el-select.hover {
	background-color:#fefefe;
}

.el-rte .toolbar ul li.el-select label {
	height:19px;
	padding: 3px 5px 0 5px;
	float:none; /* Joomla 1.6 compat */
	width:96px; /* Joomla 1.6 compat */
}

/* textarea & iframe в диплогах вставки текста */
.el-rte-paste-input {
	width : 99%;
	height: 250px;
	border: 1px solid #ccc;
	padding:0;
	margin:0;
	outline:none;
}
/* индикатор выбраного цвета на кнопке */
.el-rte .toolbar ul li div.color-indicator {
	width:18px;
	height:4px;
	margin:16px 0 2px 2px;
	background-color: #000;
}
.el-rte-rtl .toolbar ul li div.color-indicator {
	margin:16px 2px 2px 0;
}
.el-rte .toolbar .panel-format { z-index: 10; }

/* colors palette */
.el-palette { top:20px; }

.el-dialogform, .el-dialogform td       { font-size:.9em; }
.el-dialogform select                   { font-size:.9em;}
.ui-dialog .ui-dialog-buttonpane        { padding: .4em, 1em;}
.ui-dialog .ui-dialog-buttonpane button { margin: .3em .4em .1em 0; font-size:.9em;}
.ui-dialog .ui-dialog-titlebar          { padding: .3em 1em .3em;   }
/*.ui-dialog-buttonset { padding:0; background-color:#333;}*/
/* диалоговые окна */
.el-dialogform label       { display:block; }
.el-dialogform label input { margin-right:2px; }
.el-dialogform iframe.el-rte-preview {
	width : 100%;
	height : 235px;
	margin:0;
	padding:0;
	outline:none;
	border:none;
}
.el-dialogform fieldset {
	border:1px solid #ccc;
	padding : 0;
}
.el-dialogform fieldset legend {
	font-size:.9em;
	padding: .1em .5em;
	margin: 0 0 5px 1em;
	border:1px solid #ccc;
	background-color: #eee;
}
.el-dialogform p  { padding:.2em .3em;}
.el-dialogform h3 { color:#555; padding:1.2em 0 0 0; margin:0; font-size:1.2em; }
.el-dialogform h4 { color:#555;font-size:1em; padding:0; margin: 3px 9px; }

.elrte-logo { 
	width:48px; 
	height:46px;
	float:left; 
	margin:.5em 1em;
	background:url('../../elrteimages/elrte-toolbar.png') -880px -7px no-repeat;
}
.elrte-ver  { font-size:.9em; padding-left:.7em; }
.elrte-copy { font-size:.9em; padding-left:.3em; }
table.elrte-authors    { margin-bottom:1em; }
table.elrte-authors td { border-bottom:1px solid #eee; }

/* widgets */
.el-borderselect {}
.el-borderselect table      {  margin:0; }
.el-borderselect table td   { padding : 0 2px 0 0; vertical-align:middle; }
.el-borderselect input      { margin:0;  border:1px solid #ccc; }

.el-paddinginput        { display: block; white-space: nowrap; }
.el-paddinginput input  { margin :0 1px 0 0; border:1px solid #ccc; }
.el-paddinginput select { padding:0; }

.el-rte-smiley { margin:5px; }

.elrte-image-src-fm .ui-state-default {
	float:right;
}
.el-dialogform-rtl .elrte-image-src-fm .ui-state-default { float:left;}

.elrte-image-preview {
	font-size:.7em;
	overflow:auto;
	height:240px;
	width:480px;
}

