/* Grid - Fluid 960 grid
-------------------------------------------------------------- */
.container{
	width:92%;
	margin: 0 auto;
	position: relative;
}



.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_full{
	float:left;
	position:relative;
	margin-left:1%;
	margin-right:1%
}

.grid_1		{ width:10.5%; }
.grid_2		{ width:23%; }
.grid_3		{ width:35.5%; }
.grid_4		{ width:48%; }
.grid_5		{ width:60.5%; }
.grid_6		{ width:73%; }
.grid_7		{ width: 85.5%;; }
.grid_8,
.grid_full	{ width:100.0%; height:100%; }
.grid_right	{ float:right }

/* Use as necessary for nested content. Also use percents here for fluidity. */
.content-pad-right { margin-right: 4%; }
.content-pad-left: { margin-left: 4%; }

audio,
img,
video {
	max-width: 100%;
}

/* @media Queries -------------------------------------------- */

/* @iPhone < 480px - One column fluid.
-------------------------------------------------------------- */
@media screen and (max-width:480px) {
	
}

/* @1-Col < 768px - One column fluid.
-------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	html{
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none
	}
	
	body{
		font-size: 82.5%;
	}
	
	.container{
		width:92%;
		margin:0 auto
	}
	
	.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_full{
		float: none;
		width:100%;
		margin:0 0 2.5em;
	}

	.content-pad-left,
	.content-pad-right {
		margin-left:0;
		margin-right:0;
	}

}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}