﻿    . divLoadingClass
        {
            position:absolute;
            left: 50%;
            top: 50%;
            margin-left: -50px;
            margin-top: -50px;
      }
                
       .Loading{
     }