﻿
/*
 *reset.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;  
}

html,
body {
  height: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
/*
  Override the default (display: inline) for
  browsers that do not recognize HTML5 tags.

  IE8 (and lower) requires a shiv:
  http://ejohn.org/blog/html5-shiv
*/
  display: block;
}

b,
strong {
/*
  Makes browsers agree.
  IE + Opera = font-weight: bold.
  Gecko + WebKit = font-weight: bolder.
*/
  font-weight: bold;
}

img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
/*
  For IE.
  http://css-tricks.com/ie-fix-bicubic-scaling-for-images
*/
  -ms-interpolation-mode: bicubic;
}

li {
/*
  For IE6 + IE7.
*/
  display: list-item;
}

table {
  border-collapse: collapse;
  border-spacing: 0;  
}

th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

sub,
sup,
small {
  font-size: 75%;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg {
/*
  For IE9.
*/
  overflow: hidden;
}



/*
 * text.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */

/*
  960 Grid System ~ Text CSS.
  Learn more ~ http://960.gs/

  Licensed under GPL and MIT.
*/

/* `Basic HTML
----------------------------------------------------------------------------------------------------*/

body {
 /* font: 13px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif;*/
  font: 13px/1.5 'PTSansRegular', Arial, Helvetica, sans-serif;
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

/* `Headings
----------------------------------------------------------------------------------------------------*/

h1 {
  font-size: 25px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 21px;
}

h4 {
  font-size: 19px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 15px;
}

/* `Spacing
----------------------------------------------------------------------------------------------------*/

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
/*table,*/
address,
fieldset,
figure {
  margin-bottom: 20px;
}




/*
 * fluid.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 
 /* Grid - Fluid 960 grid
-------------------------------------------------------------- */
.container{
	width:92%;
	margin: 0 auto;
	position: relative;
}



.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_full{
	float:left;
	position:relative;
	margin-left:1%;
	margin-right:1%
}

.grid_1		{ width:10.5%; }
.grid_2		{ width:23%; }
.grid_3		{ width:35.5%; }
.grid_4		{ width:48%; }
.grid_5		{ width:60.5%; }
.grid_6		{ width:73%; }
.grid_7		{ width: 85.5%;; }
.grid_8,
.grid_full	{ width:100.0%; height:100%; }
.grid_right	{ float:right }

/* Use as necessary for nested content. Also use percents here for fluidity. */
.content-pad-right { margin-right: 4%; }
.content-pad-left: { margin-left: 4%; }

audio,
img,
video {
	max-width: 100%;
}

/* @media Queries -------------------------------------------- */

/* @iPhone < 480px - One column fluid.
-------------------------------------------------------------- */
@media screen and (max-width:480px) {
	
}

/* @1-Col < 768px - One column fluid.
-------------------------------------------------------------- */
@media only screen and (max-width: 768px) {
	html{
		-webkit-text-size-adjust:none;
		-ms-text-size-adjust:none
	}
	
	body{
		font-size: 82.5%;
	}
	
	.container{
		width:92%;
		margin:0 auto
	}
	
	.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_full{
		float: none;
		width:100%;
		margin:0 0 2.5em;
	}

	.content-pad-left,
	.content-pad-right {
		margin-left:0;
		margin-right:0;
	}

}

/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/

/* http://sonspring.com/journal/clearing-floats */

.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}

/* http://perishablepress.com/press/2008/02/05/lessons-learned-concerning-the-clearfix-css-hack */

.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}

 
 
 /*
 * mws.style.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 
 @import url("core/shared.css");
@import url("core/core.css");
@import url("core/panels.css");
@import url("core/table.css");
@import url("core/gallery.css");
@import url("core/button.css");
@import url("core/statistic.css");
@import url("core/form.css");
@import url("core/error.css");
@import url("core/misc.css");
@import url("core/plugins.css");
@import url("core/responsive.css");
@import url("core/themer.css");
 
 
 /*
 * demo.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 


ul#icons li, 
ul#icons-16 li, 
ul#icons-24 li, 
ul#icons-colors li
{
	margin:0;
	padding:0;
	list-style:none;
	cursor:pointer;
}

ul#icons-16 li, 
ul#icons-24 li, 
ul#icons-colors li
{
	float:left;
	margin:4px;
	display:block;
	background-position:center center;
	background-color:#434343;
	width:32px; height:32px;
	
	/* CSS 3 */
	
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-o-border-radius:4px;
	border-radius:4px;
}

ul#icons-16 li
{
	background-color:#f0f0f0;
	border:1px solid #cccccc;
}

ul#icons-24 li
{
	width:40px;
	height:40px;
}

ul#icons-colors li
{
	width:48px;
	height:48px;
	background-color:#f0f0f0;
	border:1px solid #cccccc;
}

ul#icons li
{
	float:left;
	margin:2px;
	padding:4px 0;
}

ul#icons li.ui-state-default
{
	background-color:#f0f0f0;
	border:1px solid #cccccc;
}

ul#icons li span
{
	display:block;
	margin:0 4px;
}


#eq span {
	float:left; margin:0 15px
}
 

 
 /*
 *  mws.theme.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 
 
 body, 
div#mws-container, 
div#main-title
{
	background-image:url('../images/core/bg/paper.png');
}

div#mws-maincontainer
{
	background-image:url('../images/core/bg/paper.png');
}


div#mws-sidebar-bg, 
div#mws-header,
.mws-panel .mws-panel-header, 
div#mws-error-container, 
div#mws-login, 
div#mws-login .mws-login-lock, 
.ui-accordion .ui-accordion-header, 
.ui-tabs .ui-tabs-nav, 
.ui-datepicker, 
.fc-event-skin, 
.ui-dialog .ui-dialog-titlebar, 
div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer, 
div#mws-user-tools .mws-dropdown-menu .mws-dropdown-box, 
div#mws-user-tools .mws-dropdown-menu.toggled a.mws-dropdown-trigger
{
	background-color:#5d7ead;
}

div#mws-header
{
	border-color:#dddddd;
}



.mws-panel .mws-panel-header span, 
.mwschild-panel .mwschild-panel-header span, 
div#mws-user-tools #mws-username, 
div#mws-navigation ul li span.mws-nav-tooltip, 
div#mws-user-tools #mws-user-info #mws-user-functions #mws-username, 
.ui-dialog .ui-dialog-title, 
.ui-state-default, 
.ui-state-active, 
.ui-state-hover, 
.ui-state-focus, 
.ui-state-default a, 
.ui-state-active a, 
.ui-state-hover a, 
.ui-state-focus a
{
	color:#ffffff;
	text-shadow:0 0 6px rgba(255, 255, 255, 0.5);
}

div#mws-navigation ul li.active a, 
div#mws-navigation ul li.active span
{
	color:#c5d52b;
	text-shadow:0 0 6px rgba(255, 255, 255, 0.5);
}

div#mws-searchbox input.mws-search-submit, 
.mws-panel .mws-panel-header .mws-collapse-button span, 
.mwschild-panel .mwschild-panel-header .mws-collapse-button span, 
div.dataTables_wrapper .dataTables_paginate .paginate_disabled_previous, 
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_previous, 
div.dataTables_wrapper .dataTables_paginate .paginate_disabled_next, 
div.dataTables_wrapper .dataTables_paginate .paginate_enabled_next, 
div.dataTables_wrapper .dataTables_paginate .paginate_active, 
/*.mws-table tbody tr.odd:hover td, 
.mws-table tbody tr.even:hover td, */
.fc-state-highlight, 
.ui-slider-horizontal .ui-slider-range, 
.ui-slider-vertical .ui-slider-range, 

.ui-datepicker td.ui-datepicker-current-day, 
.ui-datepicker .ui-datepicker-prev .ui-icon, 
.ui-datepicker .ui-datepicker-next .ui-icon, 
.ui-accordion-header .ui-icon, 
.ui-dialog-titlebar-close .ui-icon
{
	background-color:#dddddd;
}

.ui-progressbar .ui-progressbar-value
{
	background-color:#c5d52b;
}
.mws-hover-table tbody tr.odd:hover td, 
.mws-hover-table tbody tr.even:hover td
{
background-color:#41597A;
color:White;
}

/*Code changes by Yogesh Chaudhari at 25-06-2012*/
.mwschild-panel .mwschild-panel-header
{
       background-color:#7E9AC0;
    }



    
    
    
    
 
  /*
 * jquery.noty.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 
 
 
 
/* CORE STYLES */

	/* noty bar */
	.noty_bar {
		position: fixed;
		display: none;
		z-index: 9999999;
	}
	
	/* noty_message */
	.noty_bar .noty_message {
		text-align: center;
	}
	
	/* noty close button */
	.noty_bar .noty_close {
		cursor: pointer;
	}
	
	/* noty modal */
	.noty_modal {
		position: fixed;
		width: 100%;
		height: 100%;
		background-color: #000;
		z-index: 10000;
		opacity: 0.6;
		display: none;
		left: 0;
		top: 0;
	}
	
	/* noty container for noty_layout_topLeft & noty_layout_topRight */
	ul.noty_cont {
		position: fixed;
		z-index: 10000000;
		margin: 0px;
		padding: 0px;
		list-style: none;
		width: 300px;
	}
	ul.noty_cont li {
		position: relative;
		float: left;
		clear: both;
		list-style: none;
		padding: 0px;
		margin: 10px 0 0 0;
		width: 300px; /* Fix for: http://bugs.jquery.com/ticket/2278 */
	}
	ul.noty_cont.noty_layout_topLeft {left:20px; top:20px;}
	ul.noty_cont.noty_layout_topRight {right:40px; top:20px;}
	ul.noty_cont.noty_layout_bottomLeft {left:20px; bottom:20px}
	ul.noty_cont.noty_layout_bottomRight {right:40px; bottom:20px}
	ul.noty_cont.noty_layout_topRight li {float:right}

/* LAYOUTS */

	/* noty_layout_top */
	.noty_bar.noty_layout_top {
		top: 0;
		left: 0;
		width: 100%;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	/* noty_layout_bottom */
	.noty_bar.noty_layout_bottom {
		bottom: 0;
		left: 0;
		width: 100%;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	/* noty_layout_center */
	.noty_bar.noty_layout_center {
		top: 40%;
	}
	
	/* noty_layout_topLeft & noty_layout_topRight */
	.noty_bar.noty_layout_topLeft, 
	.noty_bar.noty_layout_topRight,
	.noty_bar.noty_layout_bottomLeft,
	.noty_bar.noty_layout_bottomRight {
		width: 100%;
		clear: both;
		position: relative;
	}
	
	.noty_bar.noty_layout_topLeft .noty_message, 
	.noty_bar.noty_layout_topRight .noty_message,
	.noty_bar.noty_layout_bottomLeft .noty_message,
	.noty_bar.noty_layout_bottomRight .noty_message {
		text-align: left;
	}
	
	/* noty_layout_topCenter */
	.noty_bar.noty_layout_topCenter {
		top: 20px;
	}
 
 
 
 
  /*
 * noty_theme_default.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 
 
 
 
/* CORE STYLES*/

	/* noty bar */
	.noty_bar.noty_theme_default {
		background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==') repeat-x scroll left top #fff;
	}
	
	/* if you use noty with customContainer you can access noty with this way 
	*	 .noty_custom_container noty will add automaticly this class to your customContainer
	*	 .noty_theme_default 		your theme
	*	 .noty_layout_inline		your layout 
	*/
	
	/* custom container */
	.noty_custom_container.noty_theme_default.noty_layout_inline {
		position: relative;
	}
	
	/* custom growl container */
	.noty_custom_container.noty_theme_default.noty_layout_inline .noty_cont.noty_layout_inline {
		position: static;
	}
		/* custom noty bar */
		.noty_custom_container.noty_theme_default.noty_layout_inline .noty_bar {
			border-width: 1px;
			border-style: solid;
			position: static;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
		}
			.noty_custom_container.noty_theme_default.noty_layout_inline .noty_bar .noty_message {
				font-size: 13px;
				padding: 4px;
			}
				.noty_custom_container.noty_theme_default.noty_layout_inline .noty_bar .noty_message .noty_buttons {
					margin-top: -1px;
				}
	
	/* noty_message */
	.noty_bar.noty_theme_default .noty_message {
		padding: 8px 14px;
		font-size: 16px;
		font-weight: bold;
		width: auto;
	}
	.noty_bar.noty_theme_default.noty_closable .noty_message {
		padding: 8px 34px 8px 14px;
	}
	
	/* noty_buttons */
	.noty_bar.noty_theme_default .noty_message .noty_buttons {
		float: right;
		font-size: 13px;
		margin-top: -4px;
		margin-left: 4px;
	}
	
	/* noty_button */
	.noty_bar.noty_theme_default .noty_message .noty_buttons button {
		margin-left: 5px;
	}
	
	/* noty close button */
	.noty_bar.noty_theme_default .noty_close {
		position: absolute;
		top: 10px;
		right: 10px;
		background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNq0lU0OgjAQhRm5gUl3rLyBB3BDQjwI4TDcgmu4NqwNJGxdueqWA4zzCJoxtvxoeckLzbz2C5ShEDNHDiXis/gkPooPY/0uvomv4ov48bUSQGUSF+Ka51WPc0kzNGwvLnm9ynHtB5B+hGkoaWDB/6t4AZOFe7ZkTxMAc1dqreU0TbnrunetbVvOsmzIPMoBrFwJYGgCY8wAgjFGDZlHFYCNK9EAXPUYmUcNgL0v1dAFMKjfRSsVx/H0hC0eOfhLmWwbfTcYozbXNsEbO/int8nhEPz4CnbAUuhfwFOAAQAA48KKOuexjwAAAABJRU5ErkJggg==');
		width: 20px;
		height: 20px;
	}
	
	/* noty modal */
	.noty_modal.noty_theme_default {
		opacity: 0.7;
	}
	
/* LAYOUTS */

	/* noty_layout_top */
	.noty_bar.noty_theme_default.noty_layout_top {
		border-bottom: 3px solid #eee;
	}

	/* noty_layout_bottom */
	.noty_bar.noty_theme_default.noty_layout_bottom {
		border-top: 3px solid #eee;
	}

	.noty_bar.noty_theme_default.noty_layout_center .noty_close {
		top: 8px;
	}
	
	.noty_bar.noty_theme_default.noty_layout_center .noty_message .noty_buttons {
		margin-top: -2px
	}
	
	/* noty_layout_topLeft & noty_layout_topRight */
	.noty_bar.noty_theme_default.noty_layout_center,
	.noty_bar.noty_theme_default.noty_layout_topLeft,
	.noty_bar.noty_theme_default.noty_layout_topRight,
	.noty_bar.noty_theme_default.noty_layout_bottomLeft,
	.noty_bar.noty_theme_default.noty_layout_bottomRight {
		border: 1px solid #eee;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
	.noty_bar.noty_theme_default.noty_layout_center .noty_message,
	.noty_bar.noty_theme_default.noty_layout_topLeft .noty_message,
	.noty_bar.noty_theme_default.noty_layout_topRight .noty_message,
	.noty_bar.noty_theme_default.noty_layout_bottomLeft .noty_message,
	.noty_bar.noty_theme_default.noty_layout_bottomRight .noty_message {
		font-size: 13px;
		font-weight: normal;
	}
	.noty_bar.noty_theme_default.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_layout_bottomRight .noty_message .noty_buttons {
		float: none;
		border-top: 1px solid #ccc;
	  margin-left: 0;
	  margin-top: 10px;
	  padding-top: 10px;
	  text-align: right;
	}
	
	/* noty_layout_topCenter */
	.noty_bar.noty_theme_default.noty_layout_topCenter {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	}
	.noty_bar.noty_theme_default.noty_layout_topCenter .noty_message {
		font-weight: normal;
		font-size: 13px;
	}
	.noty_bar.noty_theme_default.noty_layout_topCenter .noty_close {
		top: 50%;
		margin-top: -10px;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		border-radius: 10px;
	}
	.noty_bar.noty_theme_default.noty_layout_topCenter.noty_success {
		border: 1px solid #50C24E;
	}
	.noty_bar.noty_theme_default.noty_layout_topCenter .noty_message .noty_buttons {
		margin-left: 15px;
		margin-top: 0px
	}
	
/* NOTIFICATION TYPES */

	/* noty_notification */
	.noty_bar.noty_theme_default.noty_notification {
		background-color: #fff;
		border-color: #ccc;
    color: #555;
	}
	.noty_bar.noty_theme_default.noty_notification.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_notification.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_notification.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_notification.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #ccc;
  }
  
	/* noty_warning */
	.noty_bar.noty_theme_default.noty_warning {
		background-color: #FFEAA8;
		border-color: #FFC237;
    color: #826200;
	}
	.noty_bar.noty_theme_default.noty_warning.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_warning.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_warning.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_warning.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #FFC237;
  }
  
  /* noty_alert */
	.noty_bar.noty_theme_default.noty_alert {
		background-color: #fff;
		border-color: #ccc;
	}
	.noty_bar.noty_theme_default.noty_alert.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_alert.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_alert.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_alert.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #ccc;
  }
  
	/* noty_error */
	.noty_bar.noty_theme_default.noty_error {
		background-color: red;
		color: #fff;
		border-color: darkred;
	}
	.noty_bar.noty_theme_default.noty_error .noty_message {
		font-weight: bold;
	}
	.noty_bar.noty_theme_default.noty_error.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_error.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_error.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_error.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: darkred;
  }
  
	/* noty_success */
	.noty_bar.noty_theme_default.noty_success {
		background-color: lightgreen;
		color: darkgreen;
		border-color: #50C24E;
	}
	.noty_bar.noty_theme_default.noty_success.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_success.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_success.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_success.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #50C24E;
  }
  
	/* noty_information */
	.noty_bar.noty_theme_default.noty_information {
		background-color: #57B7E2;
		border-color: #0B90C4;
		color: #fff;
	}
	.noty_bar.noty_theme_default.noty_information.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_information.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_information.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_default.noty_information.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #0B90C4;
  }
  
 
 
 
 
 
 
 
  /*
 * noty_theme_twitter.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 
 
 
 
 
/* CORE STYLES*/

	/* noty bar */
	.noty_bar.noty_theme_twitter {
    font-size: 13px;
    line-height: 18px;
    text-shadow: 0 1px 0 #fff;
  /*  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'PTSansRegular', Arial, Helvetica, sans-serif;
	}
	
	/* custom container */
	.noty_custom_container.noty_theme_twitter.noty_layout_inline {
		position: relative;
	}
	
	/* custom growl container */
	.noty_custom_container.noty_theme_twitter.noty_layout_inline .noty_cont.noty_layout_inline {
		position: static;
	}
		/* custom noty bar */
		.noty_custom_container.noty_theme_twitter.noty_layout_inline .noty_bar {
			position: static;
		}
			.noty_custom_container.noty_theme_twitter.noty_layout_inline .noty_bar .noty_message {
				font-size: 13px;
				padding: 4px;
			}
				.noty_custom_container.noty_theme_twitter.noty_layout_inline .noty_bar .noty_message .noty_buttons {
					margin-top: -1px;
				}
	
	/* noty_message */
	.noty_bar.noty_theme_twitter .noty_message {
		padding: 8px 14px;
	}
	/* noty_has_close_button */
	.noty_bar.noty_theme_twitter.noty_closable .noty_message {
		padding: 8px 35px 8px 14px;
	}
	
	/* noty_buttons */
	.noty_bar.noty_theme_twitter .noty_message .noty_buttons {
		float: right;
		margin-top: -5px;
		margin-left: 4px;
	}
	
	/* noty_button */
	.noty_bar.noty_theme_twitter .noty_message .noty_buttons button {
		margin-left: 5px;
	}
	
	/* noty close button */
	.noty_bar.noty_theme_twitter .noty_close {
		position: absolute;
		top: 7px;
		right: 16px;
		font-size: 18px;
		line-height: 18px;
		font-weight: bold;
		color: #000;
		opacity: 0.2;
		text-shadow: 0 1px 0 #fff;
	}
	
	/* noty close button hover */
	.noty_bar.noty_theme_twitter .noty_close:hover {
		opacity: 0.4;
	}
	
	.noty_bar.noty_theme_twitter .noty_close:after {
		content: "x";
	}
	
	/* noty modal */
	.noty_modal.noty_theme_twitter {
		opacity: 0.7;
	}
	
/* LAYOUTS */

	/* noty_layout_topLeft & noty_layout_topRight */
	.noty_bar.noty_theme_twitter.noty_layout_center,
	.noty_bar.noty_theme_twitter.noty_layout_topCenter,
	.noty_bar.noty_theme_twitter.noty_layout_topLeft,
	.noty_bar.noty_theme_twitter.noty_layout_topRight,
	.noty_bar.noty_theme_twitter.noty_layout_bottomLeft,
	.noty_bar.noty_theme_twitter.noty_layout_bottomRight {
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
	.noty_bar.noty_theme_twitter.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_layout_bottomRight .noty_message .noty_buttons {
		float: none;
		border-top: 1px solid #e5e5e5;
	  margin-left: 0;
	  margin-top: 10px;
	  padding-top: 10px;
	  text-align: right;
	}
	
	.noty_bar.noty_theme_twitter.noty_layout_center .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_layout_topCenter .noty_message .noty_buttons {
		margin-left: 15px;
		margin-top: -2px
	}
	
/* NOTIFICATION TYPES */

	/* noty_notification */
	.noty_bar.noty_theme_twitter.noty_notification {
		background-color: #fcfcfc;
		border: 1px solid #e5e5e5;
		color: #555;
	}
	.noty_bar.noty_theme_twitter.noty_notification.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_notification.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_notification.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_notification.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #e5e5e5;
  }
  
	/* noty_warning */
	.noty_bar.noty_theme_twitter.noty_warning {
		background-color: #FCF8E3;
		border: 1px solid #FBEED5;
		color: #C09853;
	}
	.noty_bar.noty_theme_twitter.noty_warning.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_warning.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_warning.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_warning.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #FBEED5;
  }
  
	/* noty_alert */
	.noty_bar.noty_theme_twitter.noty_alert {
		background-color: #FCF8E3;
		border: 1px solid #FBEED5;
		color: #C09853;
	}
	.noty_bar.noty_theme_twitter.noty_alert.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_alert.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_alert.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_alert.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #FBEED5;
  }
  
	/* noty_error */
	.noty_bar.noty_theme_twitter.noty_error {
		background-color: #F2DEDE;
		border: 1px solid #EED3D7;
		color: #B94A48;
	}
	.noty_bar.noty_theme_twitter.noty_error.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_error.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_error.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_error.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #EED3D7;
  }
  
	/* noty_success */
	.noty_bar.noty_theme_twitter.noty_success {
		background-color: #DFF0D8;
		border: 1px solid #D6E9C6;
		color: #468847;
	}
	.noty_bar.noty_theme_twitter.noty_success.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_success.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_success.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_success.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #D6E9C6;
  }
  
	/* noty_information */
	.noty_bar.noty_theme_twitter.noty_information {
		background-color: #D9EDF7;
		border: 1px solid #BCE8F1;
		color: #3A87AD;
	}
	.noty_bar.noty_theme_twitter.noty_information.noty_layout_topLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_information.noty_layout_topRight .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_information.noty_layout_bottomLeft .noty_message .noty_buttons,
	.noty_bar.noty_theme_twitter.noty_information.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #BCE8F1;
  }
  
 
 
 
 
 
 
 
  /*
 * buttons.css
 * Changes Done by : Yogesh Chaudhari
 * Date : 25-Sep-2012
 */
 
 
 
 /*!
 * Bootstrap Buttons v2.0.2
 *
 * Copyright 2012 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world @twitter by @mdo and @fat.
 */

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}
.btn-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
}
.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}
.btn-danger {
  background-color: #da4f49;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -ms-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(top, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#bd362f', GradientType=0);
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
}
.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}
.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-inverse {
  background-color: #414141;
  background-image: -moz-linear-gradient(top, #555555, #222222);
  background-image: -ms-linear-gradient(top, #555555, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222));
  background-image: -webkit-linear-gradient(top, #555555, #222222);
  background-image: -o-linear-gradient(top, #555555, #222222);
  background-image: linear-gradient(top, #555555, #222222);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#222222', GradientType=0);
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
}
.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
button.btn,
input[type="submit"].btn {
  *padding-top: 2px;
  *padding-bottom: 2px;
}
button.btn::-moz-focus-inner,
input[type="submit"].btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button.btn.btn-large,
input[type="submit"].btn.btn-large {
  *padding-top: 7px;
  *padding-bottom: 7px;
}
button.btn.btn-small,
input[type="submit"].btn.btn-small {
  *padding-top: 3px;
  *padding-bottom: 3px;
}
button.btn.btn-mini,
input[type="submit"].btn.btn-mini {
  *padding-top: 1px;
  *padding-bottom: 1px;
}