﻿        #Background
        {
            position: fixed;
            top: 0px;
            bottom: 0px;
            left: 0px;
            right: 0px;
            background-color: Gray;
            filter: alpha(opacity=40);
            opacity: 0.4;
        }
        #Progress
        {
            position: fixed;
         
         
            width: 100%;
            height: 100%;
            text-align: center;
            background-color: White;
            
        }
