﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="WorldMap.aspx.cs" Inherits="Dashboard_WorldMap" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>

  <div id="ContainerChart5" style="min-width:200px; height: 400px; border-style: none; margin: 0 auto">
  <div class="loading">
		<i class="icon-spinner icon-spin icon-large"></i>
		Please wait...
	</div>
  </div>
</body>


<script src="http://code.jquery.com/jquery-1.9.0.js"></script>
<script src="http://code.highcharts.com/maps/highmaps.js"></script>

<script src="http://code.highcharts.com/maps/modules/data.js"></script>
<script src="http://code.highcharts.com/mapdata/custom/world.js"></script>

<script src="http://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        var dataMap =<%= chartWorldMapData%> ;
        
        $(function () {

//            // Load the data from a Google Spreadsheet
//            // https://docs.google.com/a/highsoft.com/spreadsheet/pub?hl=en_GB&hl=en_GB&key=0AoIaUO7wH1HwdFJHaFI4eUJDYlVna3k5TlpuXzZubHc&output=html
            Highcharts.data({

                googleSpreadsheetKey: '0AoIaUO7wH1HwdFJHaFI4eUJDYlVna3k5TlpuXzZubHc',

                // custom handler when the spreadsheet is parsed
                parsed: function (columns) {

                    // Read the columns into the data array
                    var data = [];
                    var CountryCode = [];
                    var CountryName = [];

                    for(var i=0;i<dataMap.length;i++)
                    {

                          data.push({
                            code: dataMap[i].CountryCode,
                            value: dataMap[i].Color,
                            name:dataMap[i].Country,
                            value1: dataMap[i].CustomerRevenue,
                            value2: dataMap[i].SupplierRevenue,
                        });

                    }

                    // Initiate the chart
                    $('#ContainerChart5').highcharts('Map', {
                        chart: {
                            borderWidth: 1
                        },

                      

                        title: {
                            text: ''
                        },

                        mapNavigation: {
                            enabled: true
                        },

                        legend: {
                            title: {
                                text: '',
                                style: {
                                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                                }
                            },
                            align: 'left',
                            verticalAlign: 'bottom',
                            floating: true,
                            layout: 'vertical',
                            valueDecimals: 0,
                            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || 'rgba(255, 255, 255, 0.85)',
                            symbolRadius: 0,
                            symbolHeight: 14
                        },

                        colorAxis: {
                            dataClasses: [
                            {
                                 from:0 ,
                                 to:0 ,
                                 name:'No Customers/Suppliers',
                                 color:'#95CEFF'
                            },
                            {
                                from:1 ,
                                to:1 ,
                                name:'Supplier',
                                color:'#FF7599'
                            }, {
                                from:2 ,
                                to:2 ,
                                name:'Customer',
                                color:'#999EFF'

                            }, {
                                from:3,
                                to:3 ,
                                name:'Customer and supplier',
                                color:'#E4D354'
                            }]
                        },
                          credits: {
                                 enabled: false
                            },

                        series: [{
                            data: data,
                            mapData: Highcharts.maps['custom/world'],
                            joinBy: ['iso-a2', 'code'],
                            animation: true,
                            name:' ',
                            showInLegend :false,
                            states: 
                            {
                                hover: 
                                {
                                    color: ''
                                }
                            },
                            tooltip: 
                            {
                            pointFormat: '<b>{point.name}<b><br>Customer revenue:<b>{point.value1} GBP</b><br>Supplier revenue:<b>{point.value2} GBP</b>'
                            }
                        }]
                    });
                },
                error: function () {
                    $('#ContainerChart5').html('<div class="loading">' +
                '<i class="icon-frown icon-large"></i> ' +
                'Error loading data from Google Spreadsheets' +
                '</div>');
                }
            });



        });

        
    });





</script>

</html>
