﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="requestnewlinks.ascx.cs" Inherits="UserControl_requestnewlinks" %>
<h3>
    Contract Request</h3>
<p style="line-height:20px;">
<a href="requestdetails.aspx?ch=cnc">New contract request details</a><br>
<a href="requestdetails.aspx?ch=rev">Revise existing contract details</a><br>
<a href="requestdetails.aspx?ch=ren">Renew existing contract details</a><br>
<a href="requestdetails.aspx?ch=ar">Auto renewal details</a><br>
<a href="requestdetails.aspx?ch=nrr">New review request details</a><br>
<a href="requestdetails.aspx?ch=tc">Terminate contract details</a><br>
<a href="requestdetails.aspx?ch=dc">Delete contract details</a><br>
</p>