﻿body {
}

.Error
{
     font-family:Arial;
      font-size: small ;
      font-weight:bold ;
      font-style :normal;
      color: Black;
}

.Mess
{
     font-family:Arial;
      font-size: small ;
      font-weight:bold ;
      font-style :normal;
      color:Blue;
}
   .Button1
    {
       background-image:url(http://localhost:49596/CM/Images/button_clip_info_edit_button_statusbar.gif);
    }
    
    .Grid
{
      border: 1px solid #000000;
}
.GridCell
{
    padding: 3px 3px 3px 3px; /* Cellpadding */
    border: 1px solid #000000;
    font-family:Verdana;
    font-size:10pt;   
}
.GridHeader
{
      background-color:#999966;
}
.GridRow
{
    background-color:#ffffcc;
}
.GridRowHover
{
    background-color:#CCCCCC;
}

 .myClass
	       {
           border: 2px solid lightblue;
	       }
	        
	       .myClass tr
	       {
	       }
	        
	       .myClass tr:hover
       {
	           background-color:black;
	           cursor: pointer;
       }
       
       
        /*.arrow-left
        {
            margin-top: 12px;
            float: left;
            width: 0;
            height: 0;
            border-top: 6px solid transparent;
            border-bottom: 6px solid transparent;
            border-right: 10px solid ;
            z-index: 1000;
        }*/
        .tool_tip
        {
            background: White;
            color: red;
            padding-left: 5px;
            padding-right: 5px;
            height: 24px;
            line-height: 24px;
            font-size: 15px;
            font-style: normal;
            margin-top: 8px;
           /* float: left;
            border: solid 1px silver;*/
          z-index: 99;
        }
        .tooltip_outer
        {
            margin-top: -10px;
           /* display: inline;*/
            padding-left: 5px;
            margin-right: 0px;
           /* position: absolute;*/
            z-index: 2;
        }
        
      /* Added by Bharati 23062014 3.53PM   */
    .modal
    {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }
    .loading
    {
        width: 200px;
        height: 100px;        
        font-family: Arial;
        font-size: 10pt;
        border: 3px solid #67CFF5;        
        display: none;
        position: fixed;
        background-color: White;
        z-index: 999;
        text-align:center;
    }
/*----------changes by Bharati ended here ------------*/